# Git
.git
.gitignore

# IDE
.idea
.vscode

# Node modules
src/resources/frontend/node_modules
src/resources/frontend/dist

# Vendor
src/vendor

# Environment
src/.env

# Logs
src/storage/logs/*
*.log

# OS
.DS_Store
Thumbs.db
